[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.8"
djangorestframework = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
